.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar css */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Quicksand;
  background-color: #74477e;
}

/* header {
  width: 100%;
  height: 100vh;
  background: url(./static/3.jpg) no-repeat;
  background-size: cover;
} */

.carousel {
  background: url("./static/carousel.jpg") no-repeat;
  background-size: cover;
}

header {
  width: 100%;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: #000;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.helper {
  animation-name: slider;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}

@keyframes slider {
  0% {
    top: 420px;
  }

  25% {
    top: 415px;
  }

  50% {
    top: 410px;
  }

  75% {
    top: 415px;
  }

  100% {
    top: 420px;
  }
}

/* Ether */
.ether {
  text-align: center;
}

.etherCard {
  width: 360px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #fff;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Maps */

#mapid {
  height: 200px;
}

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.carousel {
  background-repeat: no-repeat;
  background-size: cover;
}

textarea::placeholder {
  font-family: "arial black";
}

textarea {
  font-family: "arial black";
}

.hidden {
  display: none;
}

/* Startpage */

.row {
  display: inline-block;
  padding: 10px;
}

.col-md-4 {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
}

.card-purple {
  font-size: 30px;
  background: #74477e;
  color: #fff;
  padding: 20px;
  border: 10px solid #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 0px;
}

.card-white {
  background: #fff;
  color: #000;
  padding: 20px;
  border: 10px solid #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 0px;
}

.footer {
  background: #d8576b;
  padding: 20px;
  color: #000;
}
